/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  will-change: background-color, color;
  transition: background-color 0ms ease-in-out, color 0ms ease-in-out;
}

html > body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--main-color);

  p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  a,
  div {
    font-family: 'Roboto', sans-serif;
    color: var(--main-txt-color);
  }
}
